<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461374657531-11ftqc55hu4oth8k9e48s43f6f6sq0s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461374657531-11ftqc55hu4oth8k9e48s43f6f6sq0s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAgsnZ9O214t-qJIKSRIm34B-2HC82jRiA</string>
	<key>GCM_SENDER_ID</key>
	<string>461374657531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Noneudemy.Swift6ChatApp</string>
	<key>PROJECT_ID</key>
	<string>swift6chatapp-5a63b</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6chatapp-5a63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461374657531:ios:cfcc5d32c249056c55b15e</string>
</dict>
</plist>